<div style="padding: 20px">
  <ul style="line-height: 32px;padding-left: 0; list-style: none;">
    <li>
      <button type="button" [routerLink]="['/']" routerLinkActive="router-link-active">Component Home</button>
    </li>
    <li>
      <button type="button" [routerLink]="['/component-a']" routerLinkActive="router-link-active" >
        Component A
      </button> &nbsp;
      <button type="button" (click)="onSubscribeA()">Unsubscribe A</button>      
    </li>
    <li>
      <button type="button" [routerLink]="['/component-b']" routerLinkActive="router-link-active" >
        Component B
      </button> &nbsp;
      <button type="button" (click)="onSubscribeB()">Unsubscribe B</button>      
    </li>
    <li>
      <button type="button" [routerLink]="['/component-c']" routerLinkActive="router-link-active" >
        Component C
      </button> &nbsp;
      <button type="button" (click)="onSubscribeC()">Unsubscribe C</button>      
    </li>
  </ul>
  <button type="button" (click)="onSubscribeAll()">Unsubscribe All</button>
  <router-outlet />
  <app-results/>
</div>